{# TODO: create a beautiful translate item view #}

{% for property, type in entity.properties %}
    {% if field == property %}
        {% set value = attribute(object, property) %}
        <div>
            <label>
                <b>{{ property~'('~locale~')' }}</b><br>
                {% if 'string' == type %}
                    <input
                        type="text" value="{{ value }}"
                        class="form-control"
                        data-property="{{ property }}"
                        id="input-{{ property }}"
                    />
                    <button
                        class="btn btn-outline-secondary"
                        {{ stimulus_action('translate-ui', 'googleTranslate', 'click', {
                            'uri': path('app_translate_ui_google_translate'),
                            'text': value,
                            'sourceLocale': defaultLocale,
                            'targetLocale': locale,
                            'fieldIndex': fieldIndex,
                            'inputId': 'input-'~property,
                        }) }}
                    >
                        G
                    </button>
                {% elseif 'markdown' == type %}
                    {# TODO: load some editor? #}
                    <textarea
                        cols="80" rows="5"
                        class="form-control"
                        data-property="{{ property }}"
                    >{{ value }}</textarea>
                {% else %}
                    UNKNOWN TYPE: {{ type }}
                {% endif %}
            </label>
        </div>
    {% endif %}

{% endfor %}
<button
    class="btn btn-success"
    {{ stimulus_action('translate-ui', 'saveTranslation', 'click', {
        'uri': path('app_translate_ui_save'),
        'data': {
            'objectName': objectName,
            'field': field,
            'id': id,
            'locale': locale,
        },
        'field': field,
        'fieldIndex': fieldIndex,
        'indicatorIndex': indicatorIndex,
    }) }}
>
    Save
</button>
<button
    class="btn btn-danger"
    {{ stimulus_action('translate-ui', 'cancelTranslation', 'click', {
        'index': fieldIndex,
    }) }}
>
    Cancel
</button>
