{# TODO: Create a beautiful "translate list" view. #}

{# TODO: Can we get rid of this index? #}
{% set index = 0 %}
{% set indicatorIndex = 0 %}

{% for item in items %}
    {% for field, type in fields %}
        <div>
            <b>{{ field }}</b> ({{ defaultLocale }}) :
            {% if 'string' == type %}
                {{ attribute(item, field) }}
            {% elseif 'markdown' == type %}
                <br>
                {# TODO expand this with JS #}
                {{ attribute(item, field)|u.truncate(100, '...', false) }}
            {% else %}
                UNKNOWN TYPE: {{ type }}
            {% endif %}
        </div>

        {% for locale in app.enabled_locales %}
            {% if locale != defaultLocale %}
                {% set id = attribute(item, identifierName) %}
                {% set trIndex = id~'-'~field~'-'~locale %}
                {% if trIndex in translationIndex|keys %}
                    {% set trStatus = translationIndex[trIndex] %}
                    {% if 'translated' == trStatus %}
                        {% set color = 'green' %}
                    {% else %}
                        {# TODO add more states (e.g. draft) #}
                        {% set color = 'red' %}
                    {% endif %}

                {% else %}
                    {% set color = 'blue' %}
                {% endif %}
                <button
                    {{ stimulus_action(
                        'translate-ui', 'loadTranslation', 'click',
                        {
                            'objectName': objectName,
                            'field': field,
                            'id': id,
                            'locale': locale,
                            'index': index,
                            'indicatorIndex': indicatorIndex,
                        }
                    ) }}
                    class="btn btn-sm btn-outline-secondary"
                >
                    {{ locale }}
                </button>
                <div
                style="color:white;background-color: {{ color }};width: 10px;height: 10px;display: inline-block;"
                    {{ stimulus_target('translate-ui', 'indicator') }}
                ></div>
                {% set indicatorIndex = indicatorIndex + 1 %}
            {% endif %}
        {% endfor %}

        <div data-translate-ui-target="itemContainer"></div>
        <div data-translate-ui-target="statusContainer"></div>

        {% set index = index + 1 %}

    {% endfor %}

    <hr>

{% endfor %}
